.bm-menu-wrap {
  background-color: #625A41;
  color: #fff;
  top: 0px;
  padding: 1.5rem;
}

.bm-cross-button {
  width: inherit !important;
  height: inherit !important;
}

@media (max-width: 768px) {
  .react-multiple-carousel__arrow {
    display: none;
  }
}